:root {
    font-size: 1vw * 0.5em;
    --bg-color: #aaaaaa;
    --digit-color: #eeeeee;
    --op-btn: #edcaab;
    --bdr-color: #000;
    --screen-color: #eeeeee;
    --clear-color: #ffaaaa;
    --del-color: #aaaaff;
    --equal-color: #90ad91;
}

body {
    height: 90vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.calculator {
    background-color: var(--bg-color);
    border: solid var(--bdr-color) 2px;
    border-radius: 0.4em;
    font-size: 0.8rem;
    width: 25em;
    height: 32em;
}

.container {
    margin: 2em;
}

.screen-container {
    border: solid var(--bdr-color) 2px;
    border-radius: 0.3em;
    background-color: var(--screen-color);
    height: 4.5em;
    padding: 0 0.5em;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.mainScreen, .smallScreen {
    text-align: right;
    height: 2.25em;
    font-family: "Monospace";
}

.mainScreen {
    font-size: 1.4rem;
}

.smallScreen {
    font-size: 1rem;
}

.row {
    display: flex;
    justify-content: space-between;
}

button {
    width: 3.3em;
    height: 3.3em;
    font-size: 1rem;
    margin: 0.2em;
    border-radius: 0.3em;
    border: solid var(--bdr-color) 2px;
    flex: 1 1 auto;
}

.digit {
    background-color: var(--digit-color);
}

.clear {
    background-color: var(--clear-color);
}

.delete {
    background-color: var(--del-color);
}

.equal {
    background-color: var(--equal-color);
}

.operator {
    background-color: var(--op-btn);
}

footer {
    text-align: center;
    font-size: 1.3rem;
}